<div id="page">
	<div id="logo">
		<h1><a href="/" id="logoLink">Hi <%= current_user.full_name%></a></h1>
	</div>
	<div id="nav">
		<ul>
			<li><a href="#/home.html">Home</a></li>
			<li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
		</ul>	
	</div>
	<div class="content">
		<div class="card">
		  <h2>Profile Picture</h2>
		  <%= image_tag @user_info.data.profile_picture%>
		  <h1><%=current_user.full_name%></h1>
		  <p class="title">Followers: <%= @user_info.data.counts. followed_by%></p>
		  <p class="title">Followed: <%= @user_info.data.counts.follows%></p>
		  <p class="title">No of Post: <%= @user_info.data.counts.media%></p>
		  <p><button>Done</button></p>
		</div>
	</div>
	<div class="content">
		<h2>Intro</h2>
		<p>
			This is my demo task for instagram API to get Signed User's profile photo, followers, followed users, and number of posts
		</p>
	</div>

	<div id="footer">
		<p>
			Webpage made for <a href="/" target="_blank">Assignment Task</a>
		</p>
	</div>
</div>